<!doctype html>
<html lang="en">
    {{> head}}
<body>
    <div class="container">
        <h1>{{title}}</h1>
	{{#if content}}
	<section>
	  {{{content}}}
	</section>
	{{/if}}
	{{> footer}}
    </div>
</body>
</html>