<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{#if title}}{{title}}{{else}}Quarantzine | wash your hands{{/if}}</title>
	<meta name="author" content="wash your hands">
	<meta name="description" content="Quarantzine | wash your hands">
	<meta name="keywords" content="zine,quarantine,quarantzine">
	<link rel="stylesheet" type="text/css" href="assets/css/home.css">
</head>